:root {
  --white: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  
  --DarkBlue: #252d37;
  --VeryDarkBlue: #121417;
  --primary-orange: #fb7413;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Overpass", sans-serif;
}
h2 {
  color: var(--white);
  align-self: flex-start;
  margin-left: -22px;
}
p {
  color: var(--LightGrey);
  font-size: 15px;
  margin-top: -10px;
  width: 350px;
}
.container {
  width: 350px;
  height: 330px;
  background: rgb(37, 45, 55);
  background: linear-gradient(
    193deg,
    rgba(37, 45, 55, 0.9702052696078431) 100%,
    rgba(18, 20, 23, 1) 100%
  );
  padding: 20px;
  margin: 10% auto;
  border-radius: 22px;
}
 img {
  margin-left: 5px;
  padding: 13px;
  border-radius: 50%;
  width: 16px;
  background-color: rgb(57, 63, 76);
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: var(--LightGrey);
  padding: 0;
  margin: 0 0.5em;
  background-color: rgb(57, 63, 76);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
label:hover {
  background-color: var(--LightGrey);
  color: var(--white);
}


input[type="radio"]:checked + label {
  background-color: var(--primary-orange);
  color: var(--white);
}

button {
  width: 300px;
  height: 35px;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--primary-orange);
  border: none;
  cursor:pointer;
  margin-top: 10px;
}
button:active {
  background-color: var(--white);
  color:var(--primary-orange);
  
}